name: Build Docker Image and Deploy to EC2

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write
  id-token: write

env:
  IMAGE_NAME: liveget/ohwise-web-hub
  K8S_NAMESPACE: ohwise
  K8S_DEPLOYMENT: ohwise-web-hub
  K8S_CONTAINER: ohwise-web-hub
  AWS_REGION: us-east-1

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build the Docker image
      id: build
      run: |
        TAG=$(date +%s)
        echo "TAG=$TAG" >> $GITHUB_ENV
        echo "Building image: $IMAGE_NAME:$TAG"
        docker build -t $IMAGE_NAME:$TAG .

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Push Docker image
      run: |
          docker push $IMAGE_NAME:$TAG

    # optional: Redeploy via AWS SSM
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ env.AWS_REGION }}


    - name: Trigger rollout via SSM (script file)
      run: |
        aws ssm send-command \
          --instance-ids "${{ secrets.SSM_INSTANCE_ID }}" \
          --document-name "AWS-RunShellScript" \
          --parameters '{"commands":[
            "bash -c \"set -euxo pipefail; export HOME=/root; export KUBECONFIG=/root/.kube/config; export PATH=/usr/local/bin:/usr/bin:/bin:/snap/bin:$PATH; kubectl -n '"$K8S_NAMESPACE"' set image deployment/'"$K8S_DEPLOYMENT"' '"$K8S_CONTAINER"'='"$IMAGE_NAME:$TAG"' --record; kubectl -n '"$K8S_NAMESPACE"' rollout status deployment/'"$K8S_DEPLOYMENT"' --timeout=300s\""
          ]}'
